<div class="row">
  <div class="col-5 col-lg-3 col-md-4 p-0 pl-2 pr-2">
    <div class="card mb-2">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <h5 class="card-title m-0">Todos los usuarios</h5>
          </div>
          <div class="col-auto">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-sm btn-primary" (click)="index()">
                <fa-icon [icon]="faSync"></fa-icon>
              </button>
              <a *ngIf="admin()" type="button" class="btn btn-sm btn-success" routerLink="new">
                <fa-icon [icon]="faPlus"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="list-group">
      <a *ngFor="let item of items | async" class="list-group-item list-group-item-action" [routerLink]="item._id"
        routerLinkActive="active">
        {{ item.email }}
      </a>
    </ul>
  </div>
  <div class="col-7 col-lg-9 col-md-8 p-0 pr-2">
    <router-outlet></router-outlet>
  </div>
</div>
