<app-central-card-layout>
  <h5 class="card-title">
    <img src="assets/icon.png" style="max-width: 50px;">
    <br />
    Registrarme
  </h5>
  <div class="mb-3">
    <label for="inputName" class="form-label">Nombre</label>
    <input [(ngModel)]="credential.name" [disabled]="!ready" type="text" class="form-control" id="inputName">
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Correo</label>
    <input [(ngModel)]="credential.email" [disabled]="!ready" type="email" class="form-control" id="inputEmail"
      aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Contraseña</label>
    <input [(ngModel)]="credential.password" [disabled]="!ready" type="password" class="form-control"
      id="inputPassword">
  </div>
  <div class="mb-3">
    <label for="inputPasswordConfirmation" class="form-label">Confirmar contraseña</label>
    <input [(ngModel)]="credential.passwordConfirmation" [disabled]="!ready" type="password" class="form-control"
      id="inputPasswordConfirmation">
  </div>
  <div *ngIf="statusMsg" [class]="statusText()" role="alert">
    {{ statusMsg.message }}
  </div>
  <button class="btn btn-success" (click)="register()" [disabled]="!ready">Registrarme</button>
  <a routerLink="/auth/login" class="mt-2">Inicio de sesión</a>
</app-central-card-layout>
