<div class="card" *ngIf="author">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="card-title m-0">Datos del autor</h5>
      </div>
      <div class="col-auto" *ngIf="admin()">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button *ngIf="!editMode" type="button" class="btn btn-sm btn-primary" (click)="editMode = true">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button *ngIf="editMode" type="button" class="btn btn-sm btn-success" (click)="save()">
            <fa-icon [icon]="faSave"></fa-icon>
          </button>
          <button *ngIf="editMode && !newMode" type="button" class="btn btn-sm btn-warning" (click)="editMode = false">
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>
          <button *ngIf="editMode && !newMode" type="button" class="btn btn-sm btn-danger" (click)="delete()">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <p *ngIf="statusMsg" class="mess" [class]="statusText()">{{ statusMsg.message }}</p>
    <div class="mb-3">
      <label for="inputName" class="form-label">Nombre</label>
      <input [(ngModel)]="author.name" [disabled]="!editMode" type="text" class="form-control" id="inputName">
    </div>
    <div class="mb-3">
      <label for="inputCountry" class="form-label">País</label>
      <input [(ngModel)]="author.country" [disabled]="!editMode" type="text" class="form-control" id="inputCountry">
    </div>
  </div>
</div>
