<div class="card" *ngIf="author">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="card-title m-0">Datos del autor</h5>
      </div>
      <div class="col-auto" *ngIf="admin()">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button *ngIf="!editMode" type="button" class="btn btn-sm btn-primary" (click)="sync()">
            <fa-icon [icon]="faSync"></fa-icon>
          </button>
          <button *ngIf="!editMode" type="button" class="btn btn-sm btn-secondary" (click)="editMode = true">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button *ngIf="editMode" type="button" class="btn btn-sm btn-success" (click)="save()">
            <fa-icon [icon]="faSave"></fa-icon>
          </button>
          <button *ngIf="editMode && !newMode" type="button" class="btn btn-sm btn-warning" (click)="editMode = false">
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>
          <button *ngIf="editMode && !newMode" type="button" class="btn btn-sm btn-danger" (click)="delete()">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <p *ngIf="statusMsg" class="mess" [class]="statusText()">{{ statusMsg.message }}</p>
    <div class="mb-3">
      <label for="inputName" class="form-label">Nombre</label>
      <input [(ngModel)]="author.name" [disabled]="!editMode" type="text" class="form-control" id="inputName">
    </div>
    <div class="mb-3">
      <label for="inputCountry" class="form-label">País</label>
      <input [(ngModel)]="author.country" [disabled]="!editMode" type="text" class="form-control" id="inputCountry">
    </div>
  </div>
</div>

<div class="card mt-2" *ngIf="books && !newMode && !editMode">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="card-title m-0">Libros del autor</h5>
      </div>
      <div class="col-auto" *ngIf="admin()">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button *ngIf="!editMode" type="button" class="btn btn-sm btn-primary" (click)="sync()">
            <fa-icon [icon]="faSync"></fa-icon>
          </button>
          <div class="dropdown">
            <button class="ml-2 btn btn-sm btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-expanded="false">
              <fa-icon [icon]="faLink"></fa-icon>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <li *ngFor="let book of availableBooks">
                <button class="dropdown-item" (click)="linkBook(book._id)">{{ book.title }}</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ul class="list-group mt-2">
      <li *ngFor="let book of books" class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <a [routerLink]="'/app/books/' + book._id">{{ book.title }}</a>
          </div>
          <div class="col-auto pl-0 pr-1" *ngIf="admin()">
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeBook(book._id)">
              <fa-icon [icon]="faUnlink"></fa-icon>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
