<div class="card text-white bg-dark" *ngIf="user">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="card-title m-0">Datos del usuario</h5>
      </div>
      <div class="col-auto" *ngIf="admin()">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button *ngIf="!editMode" [disabled]="!ready" type="button" class="btn btn-sm btn-primary"
            (click)="editMode = true">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button *ngIf="editMode" [disabled]="!ready" type="button" class="btn btn-sm btn-success" (click)="save()">
            <fa-icon [icon]="faSave"></fa-icon>
          </button>
          <button *ngIf="editMode && !newMode" [disabled]="!ready" type="button" class="btn btn-sm btn-warning"
            (click)="editMode = false">
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>
          <button *ngIf="editMode && !newMode && user.role !== 'ROLE_ADMIN'" [disabled]="!ready" type="button"
            class="btn btn-sm btn-danger" (click)="delete()">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="statusMsg" [class]="statusText()" role="alert">
      {{ statusMsg.message }}
    </div>
    <div class="mb-3">
      <label for="inputName" class="form-label">Nombre</label>
      <input [(ngModel)]="user.name" [disabled]="!editMode || !ready" type="text" class="form-control" id="inputName">
    </div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Correo</label>
      <input [(ngModel)]="user.email" [disabled]="!editMode || !ready" type="email" class="form-control"
        id="inputEmail">
    </div>
    <div class="mb-3">
      <label for="inputImage" class="form-label">Imagen</label>
      <input [(ngModel)]="user.image" [disabled]="!editMode || !ready" type="url" class="form-control" id="inputImage">
    </div>
    <div class="mb-3" *ngIf="editMode">
      <label for="inputPassword" class="form-label">Contraseña</label>
      <input [(ngModel)]="user.password" [disabled]="!ready" type="password" class="form-control" id="inputPassword">
    </div>
    <div class="mb-3" *ngIf="newMode || (editMode && user.password)">
      <label for="inputPasswordConfirmation" class="form-label">Confirmar contraseña</label>
      <input [(ngModel)]="user.passwordConfirmation" [disabled]="!ready" type="password" class="form-control"
        id="inputPasswordConfirmation">
    </div>
  </div>
</div>
